@import '~@angular/material/_theming';
@import '../../../common';

#header {
    @include silver-gradient();
    min-height: 64px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    #logo {
        height: 48px;
        cursor: pointer;
    }

    #summer-league {
        height: 100%;
        position: absolute;
        right: 0;
        cursor: pointer;
    }
}
