<form action="https://formspree.io/gelbaughcm@gmail.com" method="POST" #emailForm>

  <h3>Sign up for Carlisle Summer League Basketball</h3>

  <mat-form-field>
    <input matInput placeholder="Name" type="text" name="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" type="email" name="_replyto">
  </mat-form-field>

  <mat-form-field>
    <input type="tel" matInput placeholder="Phone Number" name="phoneNumber">
  </mat-form-field>

  <mat-form-field class="datepicker">
    <input matInput [matDatepicker]="picker" placeholder="Birth Date" name="birthDate" (dateChange)="changeBirthDate($event.value)">
    <mat-datepicker-toggle matSuffix [for]="picker" disabled></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="startDate" touchUi="true"></mat-datepicker>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-select placeholder="T-Shirt Size" name="shirtSize">
      <mat-option value="S">S</mat-option>
      <mat-option value="M">M</mat-option>
      <mat-option value="L">L</mat-option>
      <mat-option value="XL">XL</mat-option>
      <mat-option value="XXL">XXL</mat-option>
    </mat-select>
  </mat-form-field> -->

  <!-- <mat-radio-group name="shirtSize">
    <label class="radio-group-label">Jersey Size</label>
    <mat-radio-button value="S">S</mat-radio-button>
    <mat-radio-button value="M">M</mat-radio-button>
    <mat-radio-button value="L">L</mat-radio-button>
    <mat-radio-button value="XL">XL</mat-radio-button>
    <mat-radio-button value="XXL">XXL</mat-radio-button>
  </mat-radio-group> -->

  <input type="hidden" name="age" ([ngModel])="age">

  <button mat-raised-button color="primary" id="send-email" (click)="emailForm.submit()">Sign Up</button>

</form>
