<div
  id="navbar"
  [style.padding-left.px]="paddingLeft"
  [style.width.px]="innerWidth"
>
  <span *ngFor="let menuItem of menuItems">
    <a
      *ngIf="menuItem.routerLink"
      class="link"
      [routerLink]="menuItem.routerLink"
      [style.width.px]="menuItemWidth"
      >{{ menuItem.label }}</a
    >
    <a
      *ngIf="menuItem.externalLink"
      class="link"
      [href]="menuItem.externalLink"
      target="_blank"
      [style.width.px]="menuItemWidth"
      >{{ menuItem.label }}</a
    >
  </span>
</div>
