@import '~@angular/material/_theming';
@import '../../../../common';

.standings-wrapper {
    width: 90%;
    margin: 50px 5%;

    .mat-header-cell {
        font-size: 24px;
    }

    .mat-column-name,
    .mat-column-position,
    .mat-column-pointDiff,
    .mat-column-wins,
    .mat-column-losses,
    .mat-column-winPct {
        font-size: 20px;
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-wrap: break-word;

        word-break: break-word;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .mat-column-name {
        width: 40% !important;
        flex: 0 0 40% !important;
    }

    .mat-column-position,
    .mat-column-wins,
    .mat-column-losses {
        width: 10% !important;
        flex: 0 0 10% !important;
    }

    .mat-column-pointDiff,
    .mat-column-winPct {
        width: 15% !important;
        flex: 0 0 15% !important;
    }

    .mat-column-position {
        font-size: 30px;
    }
}
