<div class="vision">
  <mat-card>
    <h2>Vision</h2>
    <ul>
      <li>To engage the youth of Carlisle, Pennsylvania in building a better community through partnerships and projects that
        promote community development.</li>
      <li>Build the capacity of community/neighborhood-based organizations and work creatively with County and State agencies,
        so that social and health services are available to all residents, including senior citizens and children. </li>
      <li>Encourage and assist neighborhood-based community development, particularly along commercial districts, which will
        create jobs for area residents. </li>
      <li>To enhance community morale through community beautification projects.</li>
    </ul>
  </mat-card>
</div>