<ccc-container
  [hasWallpaper]="false"
  [navbarMenuItems]="navbarMenuItems"
  [sidenavMenuItems]="sidenavMenuItems"
  backgroundImageUrl="jpg/memorial-park.jpg"
>
  <!-- <ccc-summer-league-signup></ccc-summer-league-signup> -->
  <div
    id="summer-league-content"
    *ngIf="(routeName$ | async) === 'summer-league'"
  >
    <mat-grid-list [cols]="cols" rowHeight="3:2">
      <mat-grid-tile>
        <a class="link" routerLink="/summer-league/10U">
          <span class="label">10U</span>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a class="link" routerLink="/summer-league/12U">
          <span class="label">12U</span>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a class="link" routerLink="/summer-league/14U">
          <span class="label">14U</span>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <router-outlet></router-outlet>

  <!-- <img id="background-image" src="assets/jpg/memorial-park.jpg" /> -->
  <!-- <img class="logo-footer" src="assets/summer-league-logo.png"> -->
</ccc-container>
