<nav class="sidenav">
  <a class="link" routerLink="/contact">
    <mat-icon>info</mat-icon>
    <span class="label">Contact Us</span>
  </a>
  <a class="link" href="/assets/pdf/summer-league-rules.pdf" target="_blank">
    <mat-icon>picture_as_pdf</mat-icon>
    <span class="label">Summer League Rules</span>
  </a>
  <a
    class="link"
    href="/assets/pdf/summer-league-sponsorship-form.pdf"
    target="_blank"
  >
    <mat-icon>picture_as_pdf</mat-icon>
    <span class="label">Summer League Sponsorship Form</span>
  </a>
  <img class="logo" src="assets/CCC.png" />
</nav>
